<mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput />
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput />
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput />
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <textarea matInput cdkTextareaAutosize></textarea>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput />
</mat-form-field>

<button mat-raised-button color="primary">SAVE</button>
<button mat-raised-button>CANCEL</button>
